body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray; /* Lightened for debugging */
}

canvas {
    background-color: black; 
    display: block;
    border: 2px solid white;
}

